### Xuechun Wang
#### STATS 507 Problem Set 2
#### 24107190

In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict
from operator import itemgetter
from timeit import Timer
import pickle
import random
from itertools import chain
from IPython.core.display import display, HTML

### Q0

#### a.) 
 - After revising part of the code(by indenting the 2nd nested for loop and replacing 3 to 2 in the position index), the code snippet can successfully run. The entire program is about comparing the element in the list and conclude a new list. The second element (0,1,2) fails to compare with the rest two and automatically join into the new list op. The first and third element hold the same initial number and distinct last number, therefore, they went to the second for loop, and after sorting, (1,9,8) remains in the op.

#### b.)

 - The indention and position index is important when we go over an entire list, incorrect indentation will mislead the entire meaning of the loop, and similarly, inappropriate position index will lead to a different number, and cause the entire program goes wrong or stop the running.<br>
 

 - For the second nested for loop, start comparison at the second tuple. Therefore, it can save the running time for repeatly compare the first tuple with the rest again. Use m+1 to refer to the next tuple from the last for loop. <br>
 
 
 - A clear variable name will help recalling what it is used for.<br>

In [66]:
sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
op = []
for m in range(len(sample_list)):
    li = [sample_list[m]]
    for n in range(len(sample_list)):
        if (sample_list[m][0] == sample_list[n][0] and
                sample_list[m][2] != sample_list[n][2]):
            li.append(sample_list[n])
            
    op.append(sorted(li, key=lambda dd: dd[2], reverse=True)[0])  
res = list(set(op))
print("res=",res)

res= [(0, 1, 2), (1, 9, 8)]

### Q1

In [67]:
def generateTuples(n, k, tmin, tmax):   
    '''
    

    Parameters
    ----------
    n : integer
        size of the array - describe how many tuples will be in the array.
    k : integer
        size of the tuple - descrieb how many integers will be in the tuple.
    tmin : integer
        minimum number of initiating a random tuple.
    tmax : integer
        maximum number of initaiting a random tuple.

    Returns
    -------
    li_output : a list of tuple
        the output will be a randomized list of array with maximum number, minimum number and range has been set.

    '''
        
    output = np.random.randint(tmin, tmax, size = (n, k), dtype = int)
    tu_output = tuple(map(tuple, output))
    li_output = []
    for m in tu_output:
        li_output.append(m)
    assert isinstance(li_output, list)
    assert isinstance(tu_output, tuple)
    return li_output

In [68]:
generateTuples(5,6,9,100)

[(13, 72, 75, 66, 23, 29),
 (82, 25, 44, 67, 40, 85),
 (33, 55, 65, 81, 53, 36),
 (21, 62, 48, 98, 68, 59),
 (95, 95, 29, 12, 58, 60)]

### Q2

#### a.

In [69]:
def computeSnippet(sample_list, ini, last):
    '''
    

    Parameters
    ----------
    sample_list : a list of tuple. 
        It has been given in this scenario: [(1, 3, 5), (0, 1, 2), (1, 9, 8)].
    ini : integer
        The first number in the tuple, refers to index 0.
    last : integer
        The last number in the tuple, refers to index -1.

    Returns
    -------
    res : a list of tuple
        The output is a compared result under the situation if the first element in the tuple are the same, pick 
        the tuple with the biggest last figure. If there's no common first element, then return the tuple.

    '''
    op = []
    for m in range(len(sample_list)):
        li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][ini] == sample_list[n][ini] 
                and sample_list[m][last] != sample_list[n][last]):
                li.append(sample_list[n])
            
        op.append(sorted(li, key=lambda dd: dd[last], reverse=True)[ini])
    res = list(set(op))
    return res

In [70]:
computeSnippet([(1, 3, 5), (0, 1, 2), (1, 9, 8)], 0, 2)

[(0, 1, 2), (1, 9, 8)]

#### b.

In [199]:
def updatedSnippet(sample_list, ini, last):
    '''
    

    Parameters
    ----------
    sample_list : a list of tuple. 
        It has been given in this scenario: [(1, 3, 5), (0, 1, 2), (1, 9, 8)].
    ini : integer
        The first number in the tuple, refers to index 0.
    last : integer
        The last number in the tuple, refers to index -1.

    Returns
    -------
    res : a list of tuple
        The output is a compared result under the situation if the first element in the tuple are the same, pick 
        the tuple with the biggest last figure. If there's no common first element, then return the tuple.

    '''
    tuple_list = []
    for m in range(len(sample_list)):
        temp_list = [sample_list[m]]
        for n in range(m+1, len(sample_list)):
            if (sample_list[m][ini] == sample_list[n][ini] and sample_list[m][last] != sample_list[n][last]):
                temp_list.append(sample_list[m])
                   
        tuple_list.append(sorted(temp_list, key=lambda dd: dd[last], reverse=True)[ini]) 
    res = list(set(tuple_list))
    return res

In [200]:
updatedSnippet([(1, 3, 5), (0, 1, 2), (1, 9, 8)], 0, 2)

[(0, 1, 2), (1, 9, 8), (1, 3, 5)]

#### c.

In [74]:
def dicSnippet(sample_list, ini, last):
    '''
    

    Parameters
    ----------
    sample_list : a list of tuple. 
        It has been given in this scenario: [(1, 3, 5), (0, 1, 2), (1, 9, 8)].
    ini : integer
        The first number in the tuple, refers to index 0.
    last : integer
        The last number in the tuple, refers to index -1.

    Returns
    -------
    res : a list of tuple
        The output is a compared result under the situation if the first element in the tuple are the same, pick 
        the tuple with the biggest last figure. If there's no common first element, then return the tuple.

    '''
    sample_list.sort(key=lambda dd: dd[last], reverse=True)
    sample_list = set(sample_list)
    de = defaultdict(list)
    for t in sample_list:
        de[t[0]].append(t[1:])
    for key, value in de.items():
        de[key] = value[ini]
    se = de.items()
    se = list(se)
    return se

In [75]:
dicSnippet([(1, 3, 5), (0, 1, 2), (1, 9, 8)], 0, 2)

[(0, (1, 2)), (1, (9, 8))]

#### d.

In [76]:
def computeSnippet(sample_list, ini, last):
    '''
    

    Parameters
    ----------
    sample_list : a list of tuple. 
        It has been given in this scenario: generateTuples(n, k, tmin, tmax).
    ini : integer
        The first number in the tuple, refers to index 0.
    last : integer
        The last number in the tuple, refers to index -1.

    Returns
    -------
    res : a list of tuple
        The output is a compared result under the situation if the first element in the tuple are the same, pick 
        the tuple with the biggest last figure. If there's no common first element, then return the tuple.

    '''
    op = []
    for m in range(len(sample_list)):
        li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][ini] == sample_list[n][ini] 
                and sample_list[m][last] != sample_list[n][last]):
                li.append(sample_list[n])
            
        op.append(sorted(li, key=lambda dd: dd[last], reverse=True)[ini])
    res = list(set(op))
    return res

In [77]:
computeSnippet(generateTuples(5,6,9,100),0, 5)

[(72, 86, 65, 32, 70, 31),
 (79, 44, 73, 66, 9, 71),
 (64, 65, 71, 51, 14, 17),
 (28, 53, 32, 41, 38, 74),
 (40, 44, 52, 91, 59, 27)]

In [78]:
def updatedSnippet(sample_list, ini, last):
    '''
    

    Parameters
    ----------
    sample_list : a list of tuple. 
        It has been given in this scenario: generateTuples(n, k, tmin, tmax).
    ini : integer
        The first number in the tuple, refers to index 0.
    last : integer
        The last number in the tuple, refers to index -1.

    Returns
    -------
    res : a list of tuple
        The output is a compared result under the situation if the first element in the tuple are the same, pick 
        the tuple with the biggest last figure. If there's no common first element, then return the tuple.

    '''
    tuple_list = []
    for m in range(len(sample_list)):
        temp_list = [sample_list[m]]
        for n in range(m+1, len(sample_list)):
            if (sample_list[m][ini] == sample_list[n][ini] and sample_list[m][last] != sample_list[n][last]):
                temp_list.append(sample_list[m])
                   
        tuple_list.append(sorted(temp_list, key=lambda dd: dd[last], reverse=True)[ini]) 
    res = list(set(tuple_list))
    return res

In [79]:
updatedSnippet(generateTuples(5,6,9,100), 0, 5)

[(96, 95, 55, 98, 40, 21),
 (23, 21, 97, 21, 70, 90),
 (46, 47, 17, 91, 76, 50),
 (23, 69, 66, 60, 96, 26),
 (60, 43, 35, 90, 81, 31)]

In [80]:
def dicSnippet(sample_list, ini, last):
    '''
    

    Parameters
    ----------
    sample_list : a list of tuple. 
        It has been given in this scenario: generateTuples(n, k, tmin, tmax).
    ini : integer
        The first number in the tuple, refers to index 0.
    last : integer
        The last number in the tuple, refers to index -1.

    Returns
    -------
    res : a list of tuple
        The output is a compared result under the situation if the first element in the tuple are the same, pick 
        the tuple with the biggest last figure. If there's no common first element, then return the tuple.

    '''
    sample_list.sort(key=lambda dd: dd[last], reverse=True)
    sample_list = set(sample_list)
    de = defaultdict(list)
    for t in sample_list:
        de[t[0]].append(t[1:])
    for key, value in de.items():
        de[key] = value[ini]
    se = de.items()
    se = list(se)
    return se

In [81]:
dicSnippet(generateTuples(5,6,9,100), 0, 5)

[(32, (32, 36, 82, 44, 27)),
 (13, (47, 77, 20, 31, 53)),
 (75, (45, 34, 40, 27, 94)),
 (24, (51, 48, 90, 20, 59)),
 (98, (92, 38, 43, 41, 93))]

 - each m is corresponding to three different functions and the output will be the mean time for running each function 1000 times.

In [104]:
n_mc = 1000
output = generateTuples(5,6,9,100)
ini = 0
m_list = []
for f in (computeSnippet(output, ini, 5), updatedSnippet(output, ini, 5), dicSnippet(output, ini, 5)):
    t = Timer("f", globals={"f": f})
    m = np.mean([t.timeit(1) for i in range(n_mc)]) 
    m = round(m * 1e6, 5)
    m_list.append(m)
print(m_list)

[0.15037, 0.14203, 0.14491]

In [119]:
f_list = ["computeSnippet", "updatedSnippet", "dicSnippet"]
res = {}
for key in range(len(f_list)):
    res[f_list[key]] = m_list[key]
print(res)

{'computeSnippet': 0.15037, 'updatedSnippet': 0.14203, 'dicSnippet(': 0.14491}

In [125]:
dFrame = pd.DataFrame(res.items(), columns=['Function', 'Mean Time'])
dFrame

         Function  Mean Time
0  computeSnippet    0.15037
1  updatedSnippet    0.14203
2     dicSnippet(    0.14491

In [133]:
cap = """
<b> Table 1.</b> <em> Timing comparisons for Tuple-comparison Functions.</em>
Calculating mean time from 1000 trials to see randomness in Marte Carlo.  
The method within dictionary is faster than the other two. 
"""

t1 = dFrame.to_html(index=False)
t1 = t1.rsplit('\n')
t1.insert(1, cap)
tab1 = ''
for i, line in enumerate(t1):
    tab1 += line
    if i < (len(t1) - 1):
        tab1 += '\n'

In [134]:
display(HTML(tab1))

### Q3

 - Import files from local directory

In [2]:
demo11_12 = pd.read_sas('/Users/Sylvia/Desktop/DEMO_G.XPT', encoding = 'utf-8')
demo13_14 = pd.read_sas('/Users/Sylvia/Desktop/DEMO_H.XPT', encoding = 'utf-8')
demo15_16 = pd.read_sas('/Users/Sylvia/Desktop/DEMO_I.XPT', encoding = 'utf-8')
demo17_18 = pd.read_sas('/Users/Sylvia/Desktop/DEMO_J.XPT', encoding = 'utf-8')

In [3]:
updateddemo11_12 = demo11_12[['SEQN','RIDAGEYR','RIDRETH3','DMDEDUC2','DMDMARTL','RIDSTATR','SDMVPSU','SDMVSTRA',
                             'WTMEC2YR','WTINT2YR']]
updateddemo13_14 = demo13_14[['SEQN','RIDAGEYR','RIDRETH3','DMDEDUC2','DMDMARTL','RIDSTATR','SDMVPSU','SDMVSTRA',
                             'WTMEC2YR','WTINT2YR']]
updateddemo15_16 = demo15_16[['SEQN','RIDAGEYR','RIDRETH3','DMDEDUC2','DMDMARTL','RIDSTATR','SDMVPSU','SDMVSTRA',
                             'WTMEC2YR','WTINT2YR']]
updateddemo17_18 = demo17_18[['SEQN','RIDAGEYR','RIDRETH3','DMDEDUC2','DMDMARTL','RIDSTATR','SDMVPSU','SDMVSTRA',
                             'WTMEC2YR','WTINT2YR']]

In [4]:
updateddemo11_12['cohort'] = '2011-2012'
updateddemo13_14['cohort'] = '2013-2014'
updateddemo15_16['cohort'] = '2015-2016'
updateddemo17_18['cohort'] = '2017-2018'

<ipython-input-4-49598ecf243c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updateddemo11_12['cohort'] = '2011-2012'
<ipython-input-4-49598ecf243c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updateddemo13_14['cohort'] = '2013-2014'
<ipython-input-4-49598ecf243c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updateddemo15_16['cohort'] = '2015-2016'
<ipython-input-4-49598ecf243c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updateddemo17_18['cohort'] = '2017-2018'

In [5]:
demo = pd.concat([updateddemo11_12, updateddemo13_14, updateddemo15_16, updateddemo17_18], axis = 0)
demo = demo.rename(columns ={'SEQN':'id','RIDAGEYR':'age','RIDRETH3':'race','DMDEDUC2':'education',
                            'DMDMARTL':'martial_status','RIDSTATR':'interview_status','SDMVPSU':'maskedvar-psu',
                            'SDMVSTRA':'maskedvar-stra','WTMEC2YR':'fullsample2yr_mec',
                            'WTINT2YR':'fullsample2yr_int'})
demo.head()

,id,age,race,education,martial_status,interview_status,maskedvar-psu,maskedvar-stra,fullsample2yr_mec,fullsample2yr_int,cohort
0,62161.0,22.0,3.0,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,2011-2012
1,62162.0,3.0,1.0,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2011-2012
2,62163.0,14.0,6.0,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,2011-2012
3,62164.0,44.0,3.0,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2011-2012
4,62165.0,14.0,4.0,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2011-2012

 - Change non-categorical data into int

In [6]:
demo[['id','age','race']] = demo[['id','age','race']].astype(int)
demo.head()

,id,age,race,education,martial_status,interview_status,maskedvar-psu,maskedvar-stra,fullsample2yr_mec,fullsample2yr_int,cohort
0,62161,22,3,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,2011-2012
1,62162,3,1,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2011-2012
2,62163,14,6,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,2011-2012
3,62164,44,3,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2011-2012
4,62165,14,4,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2011-2012

 - Change categorical data as category

In [7]:
demo[['education', 'martial_status', 'interview_status']] = demo[['education', 'martial_status', 'interview_status']].astype('category')
demo.head()

,id,age,race,education,martial_status,interview_status,maskedvar-psu,maskedvar-stra,fullsample2yr_mec,fullsample2yr_int,cohort
0,62161,22,3,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,2011-2012
1,62162,3,1,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2011-2012
2,62163,14,6,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,2011-2012
3,62164,44,3,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2011-2012
4,62165,14,4,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2011-2012

 - Keep range data to 2 decimal places and change into categorical data

In [8]:
demo[['fullsample2yr_mec','fullsample2yr_int']] = demo[['fullsample2yr_mec','fullsample2yr_int']].round(2)
demo['fullsample2yr_mec'] = pd.to_numeric(demo['fullsample2yr_mec'], errors='coerce')
demo['maskedvar-psu'] = pd.to_numeric(demo['maskedvar-psu'], errors='coerce')
demo['maskedvar-stra'] = pd.to_numeric(demo['maskedvar-stra'], errors='coerce')
demo['cohort'] = demo['cohort'].astype('category')
demo.dtypes

id                      int64
age                     int64
race                    int64
education            category
martial_status       category
interview_status     category
maskedvar-psu         float64
maskedvar-stra        float64
fullsample2yr_mec     float64
fullsample2yr_int     float64
cohort               category
dtype: object

#### Save to pickle

In [12]:
pickle_out_demo = open("demo.pickle","wb")
pickle.dump(demo, pickle_out_demo)
pickle_out_demo.close()

In [13]:
pickle_in_demo = open("demo.pickle","rb")
example_demo = pickle.load(pickle_in_demo)
print(example_demo)

          id  age  race education martial_status interview_status  \
0      62161   22     3       3.0            5.0              2.0
1      62162    3     1       NaN            NaN              2.0
2      62163   14     6       NaN            NaN              2.0
3      62164   44     3       4.0            1.0              2.0
4      62165   14     4       NaN            NaN              2.0
...      ...  ...   ...       ...            ...              ...
9249  102952   70     6       3.0            1.0              2.0
9250  102953   42     1       3.0            4.0              2.0
9251  102954   41     4       5.0            5.0              2.0
9252  102955   14     4       NaN            NaN              2.0
9253  102956   38     3       4.0            3.0              2.0

      maskedvar-psu  maskedvar-stra  fullsample2yr_mec  fullsample2yr_int  \
0               1.0            91.0          104236.58          102641.41
1               3.0            92.0           16116.35           15457.74
2               3.0            90.0            7869.49            7397.68
3               1.0            94.0          127965.23          127351.37
4               2.0            90.0           13384.04           12209.74
...             ...             ...                ...                ...
9249            2.0           138.0           18338.71           16896.28
9250            2.0           137.0           63661.95           61630.38
9251            1.0           144.0           17694.78           17160.90
9252            1.0           136.0           14871.84           14238.45
9253            1.0           142.0           39426.30           38645.74

         cohort
0     2011-2012
1     2011-2012
2     2011-2012
3     2011-2012
4     2011-2012
...         ...
9249  2017-2018
9250  2017-2018
9251  2017-2018
9252  2017-2018
9253  2017-2018

[39156 rows x 11 columns]

 - Import Oral dataset from local directory

In [14]:
oral11_12 = pd.read_sas('/Users/Sylvia/Desktop/OHXDEN_G.XPT', encoding = 'utf-8')
oral13_14 = pd.read_sas('/Users/Sylvia/Desktop/OHXDEN_H.XPT', encoding = 'utf-8')
oral15_16 = pd.read_sas('/Users/Sylvia/Desktop/OHXDEN_I.XPT', encoding = 'utf-8')
oral17_18 = pd.read_sas('/Users/Sylvia/Desktop/OHXDEN_J.XPT', encoding = 'utf-8')

In [15]:
oral11_12CTC = oral11_12.loc[:, oral11_12.columns.str.endswith('TC')]

In [16]:
updatedoral11_12 = oral11_12[['SEQN','OHDDESTS']]
updatedoral11_12 = pd.concat([updatedoral11_12, oral11_12CTC], axis = 1)

 - Extract columns with keyword "TC" for both TC and CTC. However, there exist data ended by "RTC" which is needed to be removed

In [17]:
oral13_14CTC = oral13_14.loc[:, oral13_14.columns.str.endswith('TC')]
updatedoral13_14 = oral13_14[['SEQN','OHDDESTS']]
updatedoral13_14 = pd.concat([updatedoral13_14, oral13_14CTC], axis = 1)
oral15_16CTC = oral15_16.loc[:, oral15_16.columns.str.endswith('TC')]
oral15_16CTC = oral15_16CTC.loc[:, [not o.endswith('RTC') for o in oral15_16CTC.columns]]
updatedoral15_16 = oral15_16[['SEQN','OHDDESTS']]
updatedoral15_16 = pd.concat([updatedoral15_16, oral15_16CTC], axis = 1)
oral17_18CTC = oral17_18.loc[:, oral17_18.columns.str.endswith('TC')]
oral17_18CTC = oral17_18CTC.loc[:, [not o.endswith('RTC') for o in oral17_18CTC.columns]]
updatedoral17_18 = oral17_18[['SEQN','OHDDESTS']]
updatedoral17_18 = pd.concat([updatedoral17_18, oral17_18CTC], axis = 1)

In [18]:
updatedoral11_12['cohort'] = '2011-2012'
updatedoral13_14['cohort'] = '2013-2014'
updatedoral15_16['cohort'] = '2015-2016'
updatedoral17_18['cohort'] = '2017-2018'

In [19]:
oral = pd.concat([updatedoral11_12, updatedoral13_14, updatedoral15_16, updatedoral17_18], axis = 0)

 - Change int data into int

In [20]:
oral = oral.rename(columns = {'SEQN':'id', 'OHDDESTS':'dent_code'})
oral[['id','dent_code']] = oral[['id','dent_code']].astype(int)

 - The rest will be category

In [22]:
oral.iloc[:,2:] = oral.iloc[:,2:].astype('category')
oral.dtypes

id              int64
dent_code       int64
OHX01TC      category
OHX02TC      category
OHX03TC      category
               ...
OHX28CTC     category
OHX29CTC     category
OHX30CTC     category
OHX31CTC     category
cohort       category
Length: 63, dtype: object

#### Save to pickle

In [23]:
pickle_out_oral = open("oral.pickle","wb")
pickle.dump(oral, pickle_out_oral)
pickle_out_oral.close()

In [24]:
pickle_in_oral = open("oral.pickle","rb")
example_oral = pickle.load(pickle_in_oral)
print(example_oral)

          id  dent_code OHX01TC OHX02TC OHX03TC OHX04TC OHX05TC OHX06TC  \
0      62161          1     4.0     2.0     2.0     2.0     2.0     2.0
1      62162          1     4.0     4.0     4.0     1.0     1.0     1.0
2      62163          1     4.0     2.0     2.0     2.0     2.0     2.0
3      62164          1     4.0     2.0     2.0     2.0     2.0     2.0
4      62165          1     4.0     2.0     2.0     2.0     2.0     2.0
...      ...        ...     ...     ...     ...     ...     ...     ...
8361  102952          1     2.0     2.0     2.0     2.0     2.0     2.0
8362  102953          1     2.0     2.0     2.0     2.0     2.0     2.0
8363  102954          1     2.0     2.0     2.0     2.0     2.0     2.0
8364  102955          1     4.0     2.0     2.0     2.0     2.0     2.0
8365  102956          1     4.0     4.0     2.0     2.0     2.0     2.0

     OHX07TC OHX08TC  ... OHX23CTC OHX24CTC OHX25CTC OHX26CTC OHX27CTC  \
0        2.0     2.0  ...        S        S        S        S        S
1        1.0     1.0  ...        D        D        D        D        D
2        2.0     2.0  ...        S        S        S        S        S
3        2.0     2.0  ...        S        S        S        S        S
4        2.0     2.0  ...        S        S        S        S        S
...      ...     ...  ...      ...      ...      ...      ...      ...
8361     2.0     2.0  ...        S        S        S        S        S
8362     2.0     2.0  ...        S        S        S        S        S
8363     2.0     2.0  ...        S        S        S        S        S
8364     2.0     2.0  ...        S        S        S        S        S
8365     2.0     2.0  ...        S        S        S        S        S

     OHX28CTC OHX29CTC OHX30CTC OHX31CTC     cohort
0           S        S        Z        S  2011-2012
1           D        D        U        U  2011-2012
2           S        S        Y        S  2011-2012
3           S        S        Z        Z  2011-2012
4           S        S        S        S  2011-2012
...       ...      ...      ...      ...        ...
8361        S        S        S        S  2017-2018
8362        S        S        S        Z  2017-2018
8363        S        F        S        S  2017-2018
8364        S        S        S        Z  2017-2018
8365        S        S        S        E  2017-2018

[35909 rows x 63 columns]

#### d. Number of cases

In [25]:
#Number of cases of Demo datasets
demo.shape[0]

39156

In [26]:
demo.describe()

,id,age,race,maskedvar-psu,maskedvar-stra,fullsample2yr_mec,fullsample2yr_int
count,39156.000000,39156.000000,39156.000000,39156.000000,39156.000000,39156.000000,39156.000000
mean,82969.882164,32.243156,3.356676,1.532077,118.179972,32054.312517,32054.312528
std,11844.245006,24.834551,1.652314,0.542715,17.160811,35412.005512,34064.027536
min,62161.000000,0.000000,1.000000,1.000000,90.000000,0.000000,2571.070000
25%,73589.750000,10.000000,2.000000,1.000000,104.000000,12111.327500,12441.720000
50%,83378.500000,28.000000,3.000000,2.000000,118.000000,19881.290000,19810.235000
75%,93167.250000,54.000000,4.000000,2.000000,133.000000,35678.820000,35370.915000
max,102956.000000,80.000000,7.000000,3.000000,148.000000,419762.840000,433085.010000

In [27]:
#Number of cases od Oral datasets
oral.shape[0]

35909

In [28]:
oral.describe()

                  id     dent_code
count   35909.000000  35909.000000
mean    82908.273859      1.085271
std     11815.722152      0.402831
min     62161.000000      1.000000
25%     73581.000000      1.000000
50%     83270.000000      1.000000
75%     93042.000000      1.000000
max    102956.000000      3.000000